log/
obj/
bin/
.vscode/
_site/
.optemp/
_themes*/
_repo.*/
.vs/
.venv/

.idea
.ionide/
.openpublishing.buildcore.ps1.vscode/
*.DS_Store
*.lnk
node_modules/

__azurite*
__blobstorage*
__queuestorage*
__tablestorage*